/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
    background-color: rgb(255, 55,251);
}

header {
    text-align:center;
    background-color: lightblue;
}

footer {
    background-color: lightblue;
}

p {
    color: blue;
    font-style: italic;
}

img {
    max-width: 40%;
    height: auto;
    border: 5px solid black;
}

ul {
    font-family: fantasy, 'Times New Roman', Times, serif;
}